body{
    background-color: #fefefe;
    
}
h2{
    color: #1460aa;
}
.header{

}
.header__title{
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
}
.article__title{
    text-align: center;
}